:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --Gray: #222;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: var(--white);
  color: var(--black);
  position: relative;
  z-index: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #000;
  z-index: 1;
}
.header img {
  position: absolute;
  right: 14%;
  bottom: 9rem;
  border-radius: 100%;
  border: 1px solid var(--white);

  width: 40rem;
  z-index: -1;
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }

  .header img {
    width: 30rem;
    top: 8rem;
  }
}

@media only screen and (max-width: 766px) {
  .header img {
    width: 30rem;
  }
}

@media only screen and (max-width: 540px) {
  .header {
    min-height: 140vh;
  }

  .header img {
    width: 30rem;
    top: 55%;
    left: 1rem;
  }
}

.nav {
  color: var(--white);
  padding: 1.6rem;
}
.top-nav {
  display: none;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  font-size: 3rem;
  color: var(--white);
}
.nav-list {
  display: flex;
  align-items: center;
  padding-right: 15rem;
}
.nav-link:link,
.nav-link:visited {
  color: var(--white);
  padding: 0.8rem 1rem;
  transform: all 300ms ease-in-out;
}
.nav-link:hover {
  border-radius: 0.3rem;
  background-color: var(--blue);
}

.hamburger {
  display: none;
}
@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: var(--black);
    transition: all 500ms ease-in-out;
    z-index: 100;
  }
  .menu.show {
    left: 0;
    /* display: none; */
  }
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
    padding: 1rem 1.6rem;
  }
  .top-nav .close {
    color: var(--white);
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    color: var(--white);
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    color: var(--white);
    padding: 1rem 0;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }
}

/* Hero */
.hero {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
  color: var(--white);
}

.hero h3 {
  font-weight: 400;
}

.hero h1 {
  font-size: 4.5rem;
}

.hero h4 {
  font-size: 2rem;
}

.hero h4 span {
  color: var(--blue);
  text-decoration: underline;
}

.hero a:link,
.hero a:visited {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border: 1px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  margin-top: 3rem;
}

.hero a:hover {
  background-color: transparent;
}

@media only screen and (max-width: 996px) {
  .hero {
    transform: translate(10%, -50%);
  }
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 567px) {
  .hero {
    top: 35%;
    transform: translate(10%, -50%);
  }

  .hero h3 {
    font-size: 1.6rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero h4 {
    font-size: 1.6rem;
  }
}

.icons {
  position: absolute;
  bottom: 15%;
  left: 8rem;
  color: var(--white);
}

.icons a:not(:last-child) {
  margin-right: 2rem;
}

.icons a {
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  color: var(--white);
}

.icons a:hover {
  color: var(--blue);
}
@media only screen and (max-width: 997px) {
  .icons {
    display: none;
  }
}

/* about me */
.about {
  margin-right: 5rem;
  margin-left: 5rem;
}

.title {
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
  color: var(--black);
  padding-top: 3rem;
}
.title h1 {
  font-weight: 600;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-about {
  padding: 30px;
}
.content-about h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.image-container {
  min-width: 30%;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 960px) {
  .content-about h3 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 694px) {
  .content-about h3 {
    font-size: 10px;
  }
}

.services {
  background: var(--black);
}

.title.white {
  color: var(--white);
  padding-top: 3rem;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .services-image {
  padding: 40px 20px;
  background: var(--Gray);
  color: var(--white);
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.services .content .services-image:hover {
  background: #2196f3;
}

.services .content .services-image img {
  max-width: 80px;
  filter: invert(1);
}
.services .content .services-image h2 {
  font-size: 20px;
  font-weight: 900;
}

/* portfolio */
.section-portfolio {
  background-color: #f6f7f1;
  text-align: center;
}
.section-portfolio .title h1 {
  padding: 4rem 0;
  margin: 0;
  color: var(--black);
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 4rem;
  column-gap: 4rem;
  text-align: center;
  padding: 1rem 20rem;
}

.portfolio-item {
  border: 1px solid var(--black);
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 3px solid var(--blue);
}
.portfolio-item h2 {
  font-size: 2rem;
}
.portfolio-item p {
  font-size: 1rem;
}

.portfolio-item img {
  width: 100%;
  /* border-radius: 3px; */
  margin-bottom: 1rem;
}

.portfolio-item a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--blue);
  color: var(--black);
  font-size: 1rem;
  margin: 1rem;
  /* margin: 3rem; */
}
.portfolio-item i {
  margin-right: 1rem;
}

@media only screen and (max-width: 700px) {
  .portfolio {
    padding: 0;
  }
}

.portfolio-item a:hover,
.portfolio-item i:hover {
  background-color: var(--blue);
  color: var(--white);
}

/* contact */

.contact {
  background: var(--black);
}

.title-one h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  color: var(--white);
  padding-top: 3rem;
  font-size: 600;
}

.contact .content-me {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.contact .content-me i {
  padding: 40px 20px;
  font-size: 5rem;
  color: var(--white);
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}

.contact .content-me i:hover {
  color: var(--blue);
}
